{sys,
 [
  {lib_dirs, ["../deps"]},
  {erts, [{mod_cond, derived}, {app_file, strip}]},
  {app_file, strip},
  {rel, "serve_it", "0.0.1",
   [
    kernel,
    stdlib,
    sasl,
    serve_it
   ]},
  {rel, "start_clean", "",
   [
    kernel,
    stdlib
   ]},
  {boot_rel, "serve_it"},
  {profile, embedded},
  {incl_cond, derived},
  {mod_cond, all},
  {excl_archive_filters,
   [
    %% Do not archive built libs
    ".*"
   ]},
  {excl_sys_filters,
   [
    "^bin/.*",
    "^erts.*/bin/(dialyzer|typer|start)",
    "^erts.*/(doc|info|include|lib|man|src)"
   ]},
  {incl_app_filters,
   [
    "^ebin",
    "^priv"
   ]},
  {excl_app_filters,
   [
    "\.gitignore"
   ]}
 ]}.

{target_dir, "target"}.
