{deps,
 [
  {serve_it, ".*", {git, "https://github.com/schlagert/serve_it.git"}},
  {rebar_escript_plugin, ".*", {git, "https://github.com/schlagert/rebar_escript_plugin.git"}}
 ]}.

{plugins,
 [
  rebar_escript_plugin
 ]}.

{rebar_escript_plugin,
 [
  {emu_args, "-sname serve_it"}
 ]}.

{sub_dirs,
 [
  "rel"
 ]}.
